
<h2>The details have been successfully updated.</h2>

<div>
<ul class="inline-updated">
<li><h3>Check the updated details</h3></li>
<li><a href="/animals/<%=@animal.id%>">here</a></li>
</ul>
</div>

