<h2>All Animals of Edinburgh Sanctuary</h2>


<h3><a href="/animals/stories">Success Stories</a></h3>
<h3><a href="/animals/new">Add animal</a></h3>   
<h3><a href="/animals/ready">Animals ready for adoption</a></h3>
<h3><a href="/animals/unready">Animals in training/vet care</a></h3>

<h4>Search by type</h4>
<form method="get" action="/animals/type" />
 <label for="search-field">Type:</label> 
 <select name="type" id="type-selection">
  <option value="Dog">Dog</option>
  <option value="Cat">Cat</option>
</select>

<input type="submit" value="Search">
</form>


<div> <% @animals.each do |animal| %>
 <div>
   <h3><%= animal.name.capitalize %></div></h3>
   <img src="<%= animal.image_url %>"  />
   <p>Admission Date: <%= animal.admission_date %> </p> 
   <p><a href="/animals/<%= animal.id %>">More details</a></p>
 </div>

 <hr/>

 <% end %>

</div>

