<nav>
  <ul id="search-block">
    <form method="get" action="/animals/type" />
    <li><label for="search-field">Search by type:</label></li>
    <li><select name="type" id="type-selection">
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
    </select></li>
    <li><input type="submit" value="Search"></li>
  </ul>
</form>
</nav>



