@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Didot|Open+Sans|Roboto:100');

.nav-bars {
  text-align: center;
}

.nav-bars li, form {
  background-color: #333333;
  padding: 1.5em;
  list-style: none;
  display: inline;
}

.nav-bars a, form {
  font-family: "Roboto";
  font-weight: lighter;
  text-decoration: none;
  color: white;
  font-size: 120%;
  padding: 0.3em;
}

h3 {
  font-family: "Didot";
  font-style: italic;
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  padding: 0.5em 0 0 0;
}

img {
  width: 450px;
  height: 350px;
}

.animal-with-image {
  text-align: center;
  width: 45%;
  list-style: none;
  display: inline-block;
}

#animal-name {
  font-size: 180%;
}

.animal-with-image li {
  font-family: "Didot";
  font-size: 130%;
  font-style: italic;
}

.animal-with-image a {
  font-family: "Roboto";
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: 80%;
  background-color: #333333;
  padding: 0.3em;
}

#search-field {
  background-color: white;
  color: black;
}


