 
.nav-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.3em 0 0;
}

.nav-bars form {
  padding: 0.5em;
  display: inline;
}

.nav-bars li {
  background-color: #333333;
  padding: 1.5em;
  list-style: none;
  display: inline;
}

.nav-bars a, form {
  font-family: "Roboto";
  font-weight: lighter;
  text-decoration: none;
  color: white;
  font-size: 120%;
  padding: 0.3em;
}

.nav-bars a:hover {
  background-color: white;
  color: #333333;
}

.search-field {
  background-color: white;
}

.search-font {
  color: black;
}

.search-field input {
  width: 60px;
  background-color: white;
  border: 1px solid #666;
  font-size:60%;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 90%;
}

.search-field input:hover {
  background-color: #333333;
  color: white;
}

h3 {
  font-family: "Didot";
  font-style: italic;
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  padding: 0.5em 0 0 0;
}

h4 {
  font-size: 130%;
}

img {
  width: 450px;
  height: 350px;
}


#animal-list {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;  
  justify-content: center;
}

.animal-with-image {
  padding: 0 0.2em 0 0.2em;
  text-align: center;
  list-style: none;
  margin: 0;
  font-family: "Didot";
  font-size: 130%;
  font-style: italic;
}

.animal-with-image ul {
  list-style-type: none;
  border-top: 1px solid #666;
  padding: 0.5em 0 0 0;
}

.animal-with-image li {
  margin: 0.5em 0 0 0;
}

.animal-with-image a {
  font-family: "Roboto";
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: 80%;
  background-color: #333333;
  padding: 0.3em;
}

.animal-with-image a:hover {
  background-color: white;
  color: #333333;
}
