
#add-owner {
  text-align: left;
}

#owners-title {
  text-align: left;
}

#add-owner a {
  text-decoration: none;
  background-color: #333333;
  font-family: "Roboto";
  font-weight: lighter;
  color: white;
  font-size: 180%;
  padding: 0.3em;
}

#add-owner a:hover {
  background-color: white;
  color: #333333;
}

.owners-list {
  width: 45%;
  list-style: none;
  border: inset;
  padding: 1em;
}

.owners-list li {
  font-family: "Didot";
  font-size: 130%;
  font-style: italic;
}

#owner-name {
  font-size: 180%;
}
