
.inline-updated a {
  list-style: none;
  background-color: #fff2e6;
  font-family: "Didot";
  font-weight: lighter;
  text-decoration: none;
  color: black;
  font-size: 150%;
  font-style: italic;
}

.inline-updated {
  text-align: center;
  display: inline;
  list-style: none;
}

.create-view li {
  list-style: none;
  text-align: center;
}
#animal-details {
  list-style-type: none;
}

#animal-info  {
  list-style-type: none;  
}

#animal-info li  {
  display: inline-block;
  padding: 10px 0;
}

#animal-info a {
  width: 150px;
  display: block;
  color: #000;
  background-color: white;
  border: 1px solid #666;
  font-size:70%;
  padding: 10px;
  margin: 0 10px 10px 10px;
}

#animal-info a:hover {
  background-color: #ededed;
  color: blue;
}

.edit-delete {
  display: inline-block;
}

