
.inline-updated a {
  list-style: none;
  background-color: #fff2e6;
  font-family: "Didot";
  font-weight: lighter;
  text-decoration: none;
  color: black;
  font-size: 150%;
  font-style: italic;
}

.inline-updated {
  text-align: center;
  display: inline;
  list-style: none;
}

.create-view li {
  list-style: none;
  text-align: center;
}

.edit-delete input {
  background-color: white;
  display: inline-block;
  font-size:70%;
  padding: 16px 32px;
}

.edit-delete {
  display: inline-block;
  }

  #center-show {
    text-align: center;
  }

  #center-show ul {
    padding: 0;
    list-style-type: none;
  }
  