<div> <% @owners.each do |owner| if owner.name != "Edinburgh Animal Sanctuary"%>
   <p>Name: <%= owner.name %></p>
   <p>Animal preferences: <%= owner.preferences %></p> 
 <% end %>
 <% end %>

</div>
