<form method="post" action="/owners">

  <label for="name-field">Name:</label> 
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <label for="preferences-field">Animal preferences:</label> 
  <input
  type="text"
  name="preferences"
  id="preferences-field"
  />

  <input type="submit" value="Add owner">
  </form>
  
</form>